* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.content {
    margin: 1em;
    padding-bottom: 5em;
}


.update-heading {
    margin-bottom: .5em;
}